/*ROOT*/
:root {
  --sidebar-text-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #ff6b08;
  --primary-bg-color: #ffffff;
  --sidebar-bg-color: #1e2939;
}
/* --- end root --- */

body {
  background: #f5f7fa;
  padding: 40px 20px;
  font: normal 14px Montserrat, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.1;
}

h1 {
  font-size: 45px;
  line-height: 1.2;
  margin: 24px 0;
}
h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: var(--primary-bg-color);
  display: flex;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: var(--sidebar-bg-color);
  width: 375px;
  padding: 40px 0;
}

.my-photo {
  width: 375px;
}

.about-me-container {
  padding: 110px 90px;
}

.contacts-container {
  margin: 60px 40px 0;
}

.contacts-title {
  color: var(--sidebar-text-color);
  margin-bottom: 20px;
}
.contacts-link {
  color: #fff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.social-links .link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: #757575;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-text-color);
  border-radius: 50%;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.social-links {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.contacts-container {
  text-align: center;
}

.accent-text {
  color: var(--accent-text-color);
}

.skills-title {
  color: var(--sidebar-text-color);
  margin-bottom: 20px;
}

.skills-container {
  margin: 55px 100px 0;
}

.skills-item {
  color: var(--accent-text-color);
  margin-left: 15px;
}

.skills-text {
  color: #dfe0e3;
}

.about-me-info {
  color: #797979;
}

.projects-containet {
  margin-top: 65px;
}

.project-item {
  color: #000000;
}

.project-text {
  color: #595959;
}

.work-experience-container {
  margin-top: 55px;
}

.compani-container {
  margin-top: 20px;
}

.compani-title {
  font-size: 16px;
  line-height: 1.5;
}

.trait {
  color: #000;
}

.compani-text {
  color: #595959;
  margin-left: 15px;
}

.education-container {
  margin-top: 55px;
}

.period {
  color: #a8a8a8;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.36px;
  margin-bottom: 10px;
}
