* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  padding: 40px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  display: flex;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-top: 110px;
  padding-right: 90px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #5a626e;
}

.contacts-link-tipe {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}

.skills-text {
  color: #dfe0e3;
}

.my-name {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.about-me-info {
  color: #797979;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.projects-containet {
  margin-top: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.project-item {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 15px;
}

.project-text {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.work-experience-container {
  margin-top: 55px;
}

.compani-container {
  margin-top: 20px;
}

.compani-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin-bottom: 15px;
}

.compani-profession {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  color: #ff7518;
}

.compani-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.trait {
  color: #000;
}

.compani-text {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 15px;
  margin-top: 15px;
}

.education-container {
  margin-top: 55px;
}

.education-institute {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.education-faculty {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.education-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
  margin-top: 10px;
  margin-bottom: 14px;
}
