// WORK
.work-experience-container {
  margin-top: 55px;
}

.compani-container {
  margin-top: 20px;
}

.compani-title {
  font-size: 16px;
  line-height: 1.5;
}

.trait {
  color: #000;
}

.compani-text {
  color: #595959;
  margin-left: 15px;
}

.education-container {
  margin-top: 55px;
}

.period {
  color: #a8a8a8;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.36px;
  margin-bottom: 10px;
}
// end WORK
